<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação de Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h2>Classificação de Cliente</h2>
        <form id="clienteForm" action="/prever" method="POST">
            <div class="forms">
                <label>Nome:</label>
                <input type="text" id="nome" name = "Nome" required>

                <label>Idade:</label>
                <input type="number" id="idade" name ="Idade" required>

                <label>Renda Mensal:</label>
                <input type="number" id="renda" name = "Renda Mensal" required>

                <label>Histórico de Dívidas(Sim/Não):</label>
                <input type="text" id="dividas" name ="Histórico de Dívidas" required>

                <label>Valor das Últimas Compras:</label>
                <input type="number" id="compras"  name = "Valor das Últimas Compras" required>

                <label>Atrasos em Pagamentos(Dias):</label>
                <input type="number" id="atrasos" name = "Atrasos em Pagamentos" required>

                <label>Score de Crédito:</label>
                <input type="number" id="score" name = "Score de Crédito" required>
            </div>
            <br>
            <button type="button" class="clear-btn" onclick="limparFormulario()">Limpar</button>
            <button type="submit" class="ok-btn">OK</button>
        </form>

        <p id="resultado"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
