body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#E6E6FA;
    margin: 0 auto;
}

.container {
    background: #DEB887;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color:black;
}

.resultado{
    font-size: 20px;
    margin: 15px 0;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #8B4513;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

.botao:hover {
    background-color:#CD853F;
}


input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ok-btn {
    background-color: #28a745;
    color: white;
}

.clear-btn {
    background-color: #dc3545;
    color: white;
}

